nav {
  background: transparent;
  background-color: rgba(0,0,0,0.9)
}

nav.navbar-inner {
    background:transparent;
}

a.btn-primary {
    background-color: #D24FAF;
    border-color: #D24FAF;
}

html {
  scroll-behavior: smooth
}

div.col-lg-3 {
    background-color: white;
    max-width:100%;
    max-height:100em;
}

a.btn-xl {
    padding: 1rem 2rem;
}

h1 {
  color: white;
  outline-color: black;

}

header {
  background-image: url("../img/London.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
}

header .jumbotron {
  background-color:rgba(0,0,0,0.5);
  color:white;
  text-align: center;
  min-height: 35em;
}

.image-grid-row {
  height: 15em;
}

.image-grid-row .cell {
  box-sizing: border-box;
  border: solid white 0.5em;
  padding: 0; !important
}

.image-grid-row .cell h1 span {
  padding: 0.1em;
  display: inline-block;
}

.image-grid-row .cell:hover h1 span {
  background-color: rgba(0, 0, 0, 0.75);
}

.image-grid-row .cell .scrim {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  height: 100%;
}

.image-grid-row .cell:hover .scrim {
  background-color: transparent;
}

.img1 {
  background-image: url(../img/Soho.jpg);
  background-size: cover;
  background-position: center;
}

.img2 {
  background-image: url(../img/CoventGarden.jpg);
  background-size: cover;
  background-position: center;
}

.img3 {
  background-image: url(../img/Fitzrovia.jpg);
  background-size: cover;
  background-position: center;
}

.img4 {
  background-image: url(../img/City.jpg);
  background-size: cover;
  background-position: center;
}

.img5 {
  background-image: url(../img/City.jpg);
  background-size: cover;
  background-position: center;
}

.img6 {
  background-image: url(../img/Mayfair.jpg);
  background-size: cover;
  background-position: center;
}

.img7 {
  background-image: url(../img/KensingtonandChelsea.jpg);
  background-size: cover;
  background-position: center;
}

.img8 {
  background-image: url(../img/Southwark.jpg);
  background-size: cover;
  background-position: center;
}

.img9 {
  background-image: url(../img/Camden.jpg);
  background-size: cover;
  background-position: center;
}

.img10 {
  background-image: url(../img/Greenwich.jpg);
  background-size: cover;
  background-position: center;
}

.img11 {
  background-image: url(../img/Islington.jpg);
  background-size: cover;
  background-position: center;
}

.img12 {
  background-image: url(../img/Brixton.jpg);
  background-size: cover;
  background-position: center;
}

carousel-item {
  height: small;
  width: small;
}

hr {
    max-width: 50px;
    border-width: 3px;
    color: pink;
}

body.About {
  background-image: url(../img/BigBen.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

form {
  content: center;
}

footer {
  text-align: center;
  background-color: #D24FAF;
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}
